@page
@model renework.Pages.IndexModel
@{
    ViewData["Title"] = "Home page";
}
@section HomeStyles {
    <link rel="stylesheet" href="~/css/index.css" />
}

<div class="hero-section">
    <div class="hero-overlay"></div>
    <div class="hero-content">
        <div class="cta-container">
    <a href="#" class="cta-button">Find YOUR JOB</a>
</div>

    </div>
</div>

@section Styles {
    <link rel="stylesheet" href="~/css/home.css" />
}